<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.fangwuze.sinvioce_copy">

    <application
        android:allowBackup="true"
        android:icon="@drawable/imgico"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
    <activity
        android:configChanges="orientation|keyboard"
        android:name="com.example.sinvoicedemo.MainActivity"
        android:label="@string/app_name" >
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

        <activity
            android:configChanges="orientation|keyboard"
            android:name="com.example.sinvoicedemo.SendActivity"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:configChanges="orientation|keyboard"
            android:name="com.example.sinvoicedemo.SendWebViewActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:configChanges="orientation|keyboard"
            android:name="com.example.sinvoicedemo.SendRedBagActivity"
            android:label="@string/app_name" >
        </activity>


        <activity
            android:configChanges="orientation|keyboard"
            android:theme="@style/AppTheme"
            android:name="com.example.sinvoicedemo.ReceiveWebViewActivity"
            android:label="@string/app_name" >
        </activity>

        <activity
            android:configChanges="orientation|keyboard"
            android:name="com.example.sinvoicedemo.ReceiveActivity"
            android:label="@string/app_name" >
        </activity>


        <service android:name=".MyService">
        <intent-filter>
            <action android:name="com.my.IService"></action>
        </intent-filter>
    </service>

    </application>

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
</manifest>
